Start approval when a new item is added.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","uaecentral","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"approvals_Connection_Name":{"defaultValue":"approvals","type":"String","metadata":{"description":"Name of the connection."}},"office365_Connection_Name":{"defaultValue":"office365","type":"String","metadata":{"description":"Name of the connection."}},"office365users_Connection_Name":{"defaultValue":"office365users","type":"String","metadata":{"description":"Name of the connection."}},"sharepointonline_Connection_Name":{"defaultValue":"sharepointonline","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","dependsOn":["[resourceId('Microsoft.Web/connections', parameters('approvals_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('office365_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('office365users_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('sharepointonline_Connection_Name'))]"],"properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"sharepoint.site":{"defaultValue":"","type":"String"},"sharepoint.list":{"defaultValue":"","type":"String"}},"triggers":{"When_a_new_item_is_created":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerBody()?.value","metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetOnNewItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://eu023-sp.shell.com/sites/SPOAA0990'))}/tables/@{encodeURIComponent(encodeURIComponent('607b9c70-a822-40fc-b25f-c59af50cbb6e'))}/onnewitems","authentication":"@parameters('$authentication')"},"conditions":[]}},"actions":{"Start_an_approval":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"approvalSubscribe"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['approvals']['connectionId']"}},"body":{"NotificationUrl":"@listCallbackUrl()","title":"Please review: @{triggerBody()?['Title']}","assignedTo":"D.Mariappan@shell.com","details":"@{triggerBody()?['Author']?['DisplayName']} at @{triggerBody()?['Created']}","itemLink":"@triggerBody()?['{Link}']","itemLinkDescription":"@triggerBody()?['{Name}']"},"path":"/basic/$subscriptions","authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Inform_item_creator_of_approval":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"method":"post","body":{"To":"@{triggerBody()?['Author']?['Email']}","Subject":"Item: @{triggerBody()?['Title']} approved","Body":"Your request for @{triggerBody()?['Title']} has been approved by @{body('Start_an_approval')?['responder']?['displayName']}. Comments (if any): @{body('Start_an_approval')?['comments']}"},"path":"/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{"Start_an_approval":["Succeeded"]},"else":{"actions":{"Inform_item_creator_of_rejection":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"method":"post","body":{"To":"@{triggerBody()?['Author']?['Email']}","Subject":"Item: @{triggerBody()?['Title']} rejected","Body":"Your request for @{triggerBody()?['Title']} has been rejected by @{body('Start_an_approval')?['responder']?['displayName']}. Comments (if any): @{body('Start_an_approval')?['comments']}"},"path":"/Mail","authentication":"@parameters('$authentication')"}}}},"expression":"@equals(body('Start_an_approval')?['response'], 'Approve')","type":"If"},"Get_my_profile_(V2)":{"runAfter":{"Start_an_approval":["Failed"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"MyProfile_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365users']['connectionId']"}},"method":"get","path":"/codeless/v1.0/me","queries":{"$select":"Mail"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Get_my_profile_(V2)":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['office365']['connectionId']"}},"method":"post","body":{"To":"@{body('Get_my_profile_(V2)')?['mail']};","Subject":"Start an Approval action failed","Body":"<p>Start an Approval action failed. Please check the values assigned for the action.</p>"},"path":"/v2/Mail","authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"description":"Use this template for processing approvals on SharePoint list items. The approver can view their approval requests in the Approvals Center and over email. Once an item is approved or rejected, the item creator is sent a confirmation email."},"parameters":{"$connections":{"value":{"approvals":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'approvals')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('approvals_Connection_Name'))]","connectionName":"[parameters('approvals_Connection_Name')]"},"office365":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('office365_Connection_Name'))]","connectionName":"[parameters('office365_Connection_Name')]"},"office365users":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365users')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('office365users_Connection_Name'))]","connectionName":"[parameters('office365users_Connection_Name')]"},"sharepointonline":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('sharepointonline_Connection_Name'))]","connectionName":"[parameters('sharepointonline_Connection_Name')]"}}}},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":5000},"performanceProfile":{"throttles":{"mode":"Low"}},"retryPolicy":{"type":"Exponential","interval":"PT5M","count":2,"minimumInterval":"PT5M","maximumInterval":"PT1H"},"usageConfiguration":{"name":"USER-96A99893C1E84E6C9802EA754B7D4C93"}},"integrationAccount":{"name":"DB1E96A8A3DA442A930B235CAC24CD5C-westeurope","id":"subscriptions/fa00899a-0d59-4cf6-8549-07188f03a6ee/resourceGroups/DB1E96A8A3DA442A930B235CAC24CD5C-IA/providers/Microsoft.Logic/integrationAccounts/DB1E96A8A3DA442A930B235CAC24CD5C-westeurope","type":"Microsoft.Logic/integrationAccounts"}}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('approvals_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'approvals')]"},"displayName":"[parameters('approvals_Connection_Name')]"}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('office365_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]"},"displayName":"[parameters('office365_Connection_Name')]"}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('office365users_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365users')]"},"displayName":"[parameters('office365users_Connection_Name')]"}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('sharepointonline_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]"},"displayName":"[parameters('sharepointonline_Connection_Name')]"}}]}